h1 {
    text-align:center;
}

.preview{
    display: inline-block;
    width: 30%;
    margin: 10px;
    box-sizing: border-box;
}

div {
    text-align:center;
}

a { 
    color:black;
    text-decoration:none;
}

html{
    background-color: lightblue;
}