<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Our Awesome App</title>
    <link rel="stylesheet" href="../static/styles.css">
  </head>

  <body>


    <h1>Saved Documents</h1>
    {% for file in file_names %}
    <div class="preview">
    <a href= "{{url_for('document', filename = file)}}">
      {% set new_name = file.replace('_', ' ') %}

      
      <h2>{{new_name[:-4]}}</h2>
    
      <embed src="{{ '/static/images/' + file[:-4] + '.jpg' }}" width="262.5px" height="350px" />
    </a>
    </div>
    
    {% endfor %}

    <form method="post">
      <input type="file" name="file">
      <input type="submit" value="Upload">
    </form>

  </body>

</html>